.App {
  text-align: center; 
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: #86c4fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Cocomat Pro';
  src: url('../public/Cocomat Light-trial.ttf') format('truetype');
  font-weight: bol;
  font-style: normal;
}

.Header {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
  background-color: #ffff; /* Light background */
  padding: 20px;
  color: #1f7ecb; /* Text color */
  text-transform: uppercase; /* All caps */
  font-family: 'Cocomat Pro', sans-serif; /* Applying the font */
}

.Logo {
  height: 50px; /* Set the height for the logo */
  margin-right: 20px; /* Space between logo and heading */
}

.Header h1 {
  margin: 0; /* Remove default margin for better alignment */
}

.Header nav {
  margin-left: auto; /* Push navigation to the right */
}

.Header nav ul {
  list-style-type: none; /* Removes bullet points */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
}

.Header nav ul li {
  display: inline; /* Makes list items inline */
  margin-right: 20px; /* Space between items */
}

.Header nav ul li a {
  color: #1f7ecb; /* Link color */
  text-decoration: none;
}

.Header nav ul li a:hover {
  color: #86c4fa; /* Light hover color */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 220vh;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  font-family: sans-serif;
  color: #333;
  background-color: #f3e4d7;
  margin-top:-50vh;
}

/* height of the container */
.leaflet-container {
  height: 90vh;
  width: 100%;
  border-radius: 0rem;
}

.cluster-icon {
  background-color: #333;
  height: 2em;
  width: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 0 0px 5px #fff;
}
